<div class="container-fluid ">

    <div class="row pt-5 d-flex">
        <div class="col-md-8">
          <h5 class="card-title "><strong>Entenda a proposta</strong></h5>
          <p class="card-text">Todos os dias em diversas empresas observamos os funcionários se organizando para fazer um <strong>Happy hour, café da manhã ou até mesmo uma confraternização.</strong></p>
          <p class="card-text">Mais do que isso, a ideia de separar um tempo para relaxar, ter um clima descontraido e feliz no ambiente de trabalho <strong>ajuda diretamente a produção.</strong></p>
          <p class="card-text">Afinal <strong> gente feliz trabalha melhor.</strong></p>
          <p class="card-text">E mostrar que a empresa se importa com isso é uma forma de fazer os funcionários<strong> vistam ainda mais a camisa da empresa</strong></p>
          <p class="card-text">É pensando nisso que o Party foi criado, um sistema de intranet onde os funcionários podem se organizar de <strong>forma simples e rápida</strong> para, comemorar os aniversáriantes do mês ou até aquele café da manhã diferenciado na sexta.</p>

          <button type="button" class="btn btn-primary">Cadastre-se</button>
        </div>
        <div class="o-foto col-md-4">
          <img src="assets/img/sobre.jpg">
        </div>
    </div>


</div>

