<div class="o-title">
    <h4>Satisfação Empresarial</h4>
    <p>Visando um ambiente de trabalho unido e feliz </p>
</div>


<div class="o-cards d-flex justify-content-between">
    <div class="o-card">
      <div class="o-foto">
        <img src="assets/img/icon_cadastre.png">
      </div>
      <div class="o-info">
        <span class="is-link" [routerLink]="[ '/cadastre' ]">Cadatre-se</span> e indique suas sugestões
      </div>
    </div>
    <div class="o-card">
        <div class="o-foto">
          <img src="assets/img/icon_acompanhe.png">
        </div>
        <div class="o-info">
            <span class="is-link" [routerLink]="[ '/acompanhe' ]">Acompanhe</span> e mude suas preferencias se quiser
        </div>
    </div>
    <div class="o-card">
        <div class="o-foto">
          <img src="assets/img/icon_viva.png">
        </div>
        <div class="o-info">          
            <span class="is-link" [routerLink]="[ '/acompanhe' ]">Comemore</span> a conquista com todos 
        </div>
    </div>
</div>
