.o-title{
    text-align: center;
    padding: 10px 0;
    h4 {
        font-size: 2.5em
    }
    p{
        font-size: 1.5em
    }
}


.o-cards{
    padding: 10px;
    .o-card{
        width: 30%;
        border: 1px solid #eeb60f;
        border-radius: 25px;
        padding: 10px;
        text-align: center;
        .o-foto img {
            max-width: 150px;
            max-height: 150px;
        }
        .o-info{
            .is-link{
                cursor: pointer;
                color: #eeb60f;
            }
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.5em;

        }
    }
}

@media (max-width: 768px) {
    .o-cards{
        flex-wrap: wrap;
        .o-card{
            width: 100%;
            margin-bottom: 10px;
        }
    }
}

